body {
    background-color: #f4f4f4;
    margin-top: 50px;
    font-family: 'Lato';
}

.darkmode {
    /* background-color: #333; */
    background-color: #721717;
}

.dark-mode-toggle {
position: absolute;
z-index: 100;
top: 1em;
right: 1em;
color: var(--foreground);
border: 2px solid currentColor;
padding: 4px;
background: transparent;
cursor: pointer;
border-radius: 5px;
width: 30px;
height: 30px;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}